<%- include("partials/header") -%>

<section class="">
  <div class="text-center py-5">
    <h1 class="fw-bold">The Space Station</h1>
    <h2>is under construction.</h2>
  </div>
  <div class="text-center pt-5">
    <h3><u>Available Features</u></h3>
    <!-- <ol>
      <li><a href="/game-stats">Find Game Stats</a></li>
    </ol> -->
  </div>
<div class="list-group text-center form-signin mx-auto">
  <a href="/game-stats" class="list-group-item list-group-item-action list-group-item-primary">Find Game Stats</a>
  <a class="list-group-item list-group-item-action disabled">More Coming Soon</a>
</div>
</section>

<%- include("partials/footer") -%>
