



.form-signin {
  max-width: 330px;
  padding: 15px;
}



.pt-10rem {
  padding-top: 10rem;
}

.mb-n1 {
  margin-bottom: -1px;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}



.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .input:focus-within {
  z-index: 2;
  position: relative;
}
